

.gallery-title {
    margin: 0;
    padding: 0;
    font-size: 300%;
    font-weight: 700;
    text-align: center;
    margin-top: 0.5em;
}

.gallery-body {
    margin: 0;
    padding: 0;
    margin-top: 3.5em;
    padding-left: 1em;
    padding-right: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    gap: 0.5em;
}

.gallery-body>* {
    position: relative;
    text-align: center;
    overflow: hidden;
    
}

.gallery-body img {
    aspect-ratio: 0.803 / 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.gallery-body .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.363);
    /* Adjust the opacity as needed */
    color: #fff;
    /* Text color */
    opacity: 1;
    /* Set the initial overlay opacity to 1 */
}

.gallery-body .overlay p {
    margin-bottom: 1em;
    font-weight: 500;
}

.overlay button {
    border: none;
    margin-bottom: 4em;
}


/* About Section styles */

.about-section {
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 2em;
    background-position: top center;
    color: black;
    text-align: center;
}

.about-main-title {
    font-weight: 700;
    font-size: 320%;
    margin-bottom: 0.5em;
}

.about-grids {
    padding-top: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    text-align: center;
    
    gap: 1em;
}

.about-title {
    
    font-size: 1.5em;
}

.about-box img {
    width: 90%;
    height: 30em;
    object-fit: contain;
    
}

.gallery-btn {
    border: 1px solid #000;
    padding-left: 1.2em;
    padding-right: 1.2em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    font-size: 14px;
    background-color: #fff;
    /* Button background color */
    color: #000;
    /* Button text color */
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}

.gallery-btn:hover {
    background-color: black;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease-in-out;
}


.about-box-call-action {
    padding-bottom: 5em;
}
.about-box{
    margin-left: 1em;
    
}

/* About Section styles */
.box{
    cursor: pointer;
    text-align: center;
}

/* mobile phone media query */

@media only screen and (max-width: 480px) {
    .gallery-body {
        grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    .gallery-body img {
        aspect-ratio: 0.803 / 1;
        width: 100%;
        object-fit: cover;
    }
    .gallery-body .overlay {
        justify-content: flex-end;
    }
    .overlay button {
        margin-bottom: 2em;
    }
    .about-grids {
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
}


/* mobile phone media query */


/* small laptops media query */

@media only screen and (min-width: 1024px) {
    .gallery-body {
        gap: 2em;
        padding-left: 3em;
        padding-right: 3em;
    }
}


/* small laptops media query */


/* Custom query */

@media only screen and (min-width: 481px) and (max-width: 1023px) {
    .about-grids {
        grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
        padding-left: 2em;
        padding-right: 2em;
    }
}